<form action="{{ path(actionRoute) }}" method="post">

    <input type="hidden" name="csrfToken" id="csrfToken" value="{{ pimcore_csrf.getCsrfToken() }}">

    {% for node in config %}

        <label for="{{ node.name }}">{{ node.description }}</label><br>

        {% if node.type is same as "boolean"%}
            {% set inputFieldType = 'checkbox' %}
            {% if node.value is same as true %}
                {% set inputFieldValue = 'checked="checked"' %}
            {% else %}
                {% set inputFieldValue = '' %}
            {% endif %}
        {% else %}
            {% set inputFieldType = 'text' %}
            {% set inputFieldValue = 'value="' ~ node.value ~ '"' %}
        {% endif %}

        <input type="{{ inputFieldType|raw }}" id="{{ node.name|raw }}" name="{{ node.name|raw }}" {{ inputFieldValue|raw }}><br><br>

    {% endfor %}

    <input type="submit" value="Speichern">

</form>